@model List<BookSocial.EntityClass.DTO.RecentActivityComment>

<h4 class="widget-title">RECENT ACTIVITY</h4>
<ul class="activitiez">
    @foreach (var item in Model)
    {
        <li>
            <div class="activity-meta">
                <i>@TimeHelper.GetPrettyDate(@item.CommentCreatedAt)</i>
                <span><a href="#">Commented on @item.UserReviewName posted</a></span>
                <h6>by <a href="#">@item.UserCommentName</a></h6>
            </div>
        </li>
    }
</ul>