@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="container body">
    <div class="main_container">
        <!-- side bar left -->
        <SideBarLeft />

        <!-- top navigation -->
        <TopNav />

        <!-- page content -->
        <div class="right_col my_right_col_vh" role="main">
            <div class="row">
                @Body
            </div>
        </div>
    </div>
</div>

@code {        
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendors/jquery/dist/jquery.min.js");
            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/vendors/bootstrap/dist/js/bootstrap.bundle.min.js");
            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/build/js/custom.min.js");
        }
    }
}