<div class="central-meta" style="padding:25px;min-height:100vh">
    <div class="frnds">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">Friends</a> <span>55</span></li>
            <li class="nav-item"><a class="" href="#frends-req" data-toggle="tab">Suggest</a><span>60</span></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active fade show" id="frends">
                <ul class="nearby-contct">
                    <li>
                        <div class="nearly-pepls">
                            <figure>
                                <a href="time-line.html" title=""><img src="~/images/resources/friend-avatar9.jpg" alt=""></a>
                            </figure>
                            <div class="pepl-info">
                                <h4><a href="time-line.html" title="">jhon kates</a></h4>
                                <span>ftv model</span>
                                <a href="time-line.html" title="" class="add-butn" data-ripple="">view profile</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="pagination mt-2" style="border:none; float:right">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
            <div class="tab-pane fade" id="frends-req">
                <ul class="nearby-contct">
                    <li>
                        <div class="nearly-pepls">
                            <figure>
                                <a href="time-line.html" title=""><img src="~/images/resources/nearly5.jpg" alt=""></a>
                            </figure>
                            <div class="pepl-info">
                                <h4><a href="time-line.html" title="">Amy watson</a></h4>
                                <span>ftv model</span>
                                <a href="time-line.html" title="" class="add-butn" data-ripple="">view profile</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>