.navbar-nav .open .my-dropdown-menu {
    top: 21px !important;
}

.my_right_col_vh {
    min-height: 100vh !important;
}

.my_pagination {
    float: right;
    background: #EDEDED;
    overflow: hidden;
    border-radius: unset;
}

    .my_pagination li a {
        padding: 10px;
        color: #2A3F54;
    }

        .my_pagination li a:hover {
            background: #2A3F54;
            color: white;
        }

    .my_pagination li .active {
        background: #2A3F54;
        color: white;
    }

.my-form-control {
    border-radius: 0.25rem;
}

    .my-form-control:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%) !important;
    }

.my-input-group {
    margin-bottom: 0;
}

.my-btn-edit {
    color: white !important;
}

.validation-message {
    color: red;
}

.invalid {
    outline: 1px solid red;
}

.my-col-sm-6 {
    float: right !important
}

.btn-outline-dark {
    color: #4B5F71;
    border-color: #364B5F;
}

    .btn-outline-dark:hover {
        color: #fff;
        background-color: #4B5F71;
    }

.my-input-file {
    border: none;
    cursor: pointer;
    padding: .375rem 0 .75rem;
}
