@model BookSocial.EntityClass.Entity.Genre

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Are you sure to delete this genre?</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form action="@Url.Action("CreateGenre")" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" style="font-weight:bold">
                        Genre Id :
                    </label>
                    <label class="col-form-label col-md-9 col-sm-9">
                        @Model.Id
                    </label>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" style="font-weight:bold">
                        Genre Name :
                    </label>
                    <label class="col-form-label col-md-9 col-sm-9">
                        @Model.Name
                    </label>
                </div>
                <div class="item form-group justify-content-center">
                    <div class="justify-content-center" style="padding-left:10px;padding-right:10px">
                        <button type="submit" class="mt-2 btn btn-success">Submit</button>
                        <a href="@Url.Action("GenreList")" style="cursor:pointer;color:white" class="mt-2 btn btn-primary">Cancel</a>
                    </div>
                </div>
                /
            </form>
        </div>
    </div>
</div>