@using BookSocial.EntityClass.Enum
@model BookSocial.EntityClass.DTO.CRUDEmployee

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Edit User</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form action="@Url.Action("EditEmployee")" method="post" class="form-horizontal form-label-left"
                  enctype="multipart/form-data">
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                        User name <span class="required">*</span> :
                    </label>
                    <div class="col-md-9 col-sm-9 ">
                        <input asp-for="Name" type="text" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                        Account <span class="required">*</span> :
                    </label>
                    <div class="col-md-9 col-sm-9 ">
                        <input asp-for="Account" type="text" class="form-control" />
                        <span asp-validation-for="Account" class="text-danger"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">Gender :</label>
                    <div class="col-md-6 col-sm-6 ">
                        <div id="gender" class="" data-toggle="buttons">
                            @foreach (var item in System.Enum.GetValues(typeof(Gender)))
                            {
                                <label class="btn" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                    <input type="radio" asp-for="Gender" value="@item" class="join-btn"> @item
                                </label>
                            }
                        </div>
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                        Status :
                    </label>
                    <div class="col-md-9 col-sm-9 ">
                        <select class="custom-select" asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                        Role :
                    </label>
                    <div class="col-md-9 col-sm-9 ">
                        <select class="custom-select" asp-for="Role" asp-items="Html.GetEnumSelectList<RoleEmployee>()"></select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                </div>
                <div class="item form-group justify-content-center">
                    <div class="justify-content-center" style="padding-left:10px;padding-right:10px">
                        <button type="submit" class="mt-2 btn btn-success">Submit</button>
                        <button class="mt-2 btn btn-primary" type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>