@using BookSocial.EntityClass.Enum
@using BookSocial.Service
@model IEnumerable<BookSocial.EntityClass.DTO.ShelfDetail>

@section css{
<style>
    .paging_active {
        color: #FFF !important;
        background: #088DCD;
    }
</style>
}

@{
    var host = ConnectAPI.BookSocialAPI;
}

<div class="blog-sec">
    <div class="post-filter-sec">
        <form method="post" class="filter-form">
            <input type="text" placeholder="Search post">
            <button><i class="ti-search"></i></button>
        </form>
        <div class="purify">
            <span>Sort by</span>
            <select asp-items="Html.GetEnumSelectList<ProgressRead>()"></select>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="l-post">
            <figure>
                <img src="@host/assets/images/book/@item.BookImage" alt="">
            </figure>
            <div class="l-post-meta">
                <h4><a href="#" title="">how to create content that get traffic</a></h4>
                <div class="l-post-ranking">
                    <a class="admin" href="#" title="">admin</a>
                    <a class="pdate" href="#" title="">04-23-19</a>
                    <a class="time-post" href="#" title=""> -12 hours ago</a>
                </div>
                <p>
                    by imporving the physical layout of hospitals and medical facilities we can inhence and increase safety macnisum..
                </p>
                <div class="g-post-ranking">
                    <a class="likes" href="#" title=""><i class="fa fa-heart-o"></i>10 likes</a>
                    <a class="coments" href="#" title=""><i class="fa fa-comment-o"></i>5 comments</a>
                </div>
                <a href="#" title="" class="read">Read More</a>
            </div>
        </div>
    }

    <ul class="pagination mt-2" style="border:none; float:right">
        <li class="page-item"><a class="page-link paging_active" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link paging_active" style="color:#088DCD" href="#">1</a></li>
        <li class="page-item"><a class="page-link" style="color:#088DCD" href="#">2</a></li>
        <li class="page-item"><a class="page-link" style="color:#088DCD" href="#">3</a></li>
        <li class="page-item"><a class="page-link" style="color:#088DCD" href="#">Next</a></li>
    </ul>
</div>