@section css{
<style>
    .paging_active {
        color: #FFF !important;
        background: #088DCD;
    }
</style>
}

<div class="blog-sec">
    <div class="l-post">
        <figure>
            <img src="~/images/resources/bloglist-1.jpg" alt="">
        </figure>
        <div class="l-post-meta">
            <h4><a href="#" title="">how to create content that get traffic</a></h4>
            <div class="l-post-ranking">
                <a class="admin" href="#" title="">admin</a>
                <a class="pdate" href="#" title="">04-23-19</a>
                <a class="time-post" href="#" title=""> -12 hours ago</a>
            </div>
            <p>
                by imporving the physical layout of hospitals and medical facilities we can inhence and increase safety macnisum..
            </p>
            <div class="g-post-ranking">
                <a class="likes" href="#" title=""><i class="fa fa-heart-o"></i>10 likes</a>
                <a class="coments" href="#" title=""><i class="fa fa-comment-o"></i>5 comments</a>
            </div>
            <a href="#" title="" class="read">Read More</a>
        </div>
    </div>
</div>

<div class="col-lg-9">
    <div class="central-meta new-pst">
        <div class="new-postbox">
            <figure>
                <img src="images/resources/admin2.jpg" alt="">
            </figure>
            <div class="newpst-input">
                <form method="post">
                    <textarea rows="2" placeholder="write something"></textarea>
                    <div class="attachments">
                        <ul>
                            <li>
                                <button type="submit">Post</button>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- add post new box -->

    <div class="central-meta item">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    <img src="images/resources/friend-avatar10.jpg" alt="">
                </figure>
                <div class="friend-name">
                    <ins><a href="time-line.html" title="">Janice Griffith</a></ins>
                    <span>published: june,2 2018 19:PM</span>
                </div>
                <div class="description">
                    <p>
                        World's most beautiful car in Curabitur <a href="#" title="">#test drive booking !</a> the most beatuiful car available in america and the saudia arabia, you can book your test drive by our official website
                    </p>
                </div>
                <div class="post-meta">
                    <div class="linked-image align-left">
                        <a href="#" title=""><img src="images/resources/page1.jpg" alt=""></a>
                    </div>
                    <div class="detail">
                        <span>Love Maid - ChillGroves</span>
                        <p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... </p>
                        <a href="#" title="">www.sample.com</a>
                    </div>
                    <div class="we-video-info">
                        <ul>
                            <li>
                                <span class="comment" data-toggle="tooltip" title="Comments">
                                    <i class="fa fa-comments-o"></i>
                                    <ins>52</ins>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="coment-area">
                <ul class="we-comet">
                    <li>
                        <div class="comet-avatar">
                            <img src="images/resources/comet-1.jpg" alt="">
                        </div>
                        <div class="we-comment">
                            <div class="coment-head">
                                <h5><a href="time-line.html" title="">Jason borne</a></h5>
                                <span>1 year ago</span>
                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                            </div>
                            <p>we are working for the dance and sing songs. this car is very awesome for the youngster. please vote this car and like our post</p>
                        </div>
                        <ul>
                            <li>
                                <div class="comet-avatar">
                                    <img src="images/resources/comet-2.jpg" alt="">
                                </div>
                                <div class="we-comment">
                                    <div class="coment-head">
                                        <h5><a href="time-line.html" title="">alexendra dadrio</a></h5>
                                        <span>1 month ago</span>
                                        <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                    </div>
                                    <p>yes, really very awesome car i see the features of this car in the official website of <a href="#" title="">#Mercedes-Benz</a> and really impressed :-)</p>
                                </div>
                            </li>
                            <li>
                                <div class="comet-avatar">
                                    <img src="images/resources/comet-3.jpg" alt="">
                                </div>
                                <div class="we-comment">
                                    <div class="coment-head">
                                        <h5><a href="time-line.html" title="">Olivia</a></h5>
                                        <span>16 days ago</span>
                                        <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                                    </div>
                                    <p>i like lexus cars, lexus cars are most beautiful with the awesome features, but this car is really outstanding than lexus</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="comet-avatar">
                            <img src="images/resources/comet-4.jpg" alt="">
                        </div>
                        <div class="we-comment">
                            <div class="coment-head">
                                <h5><a href="time-line.html" title="">Donald Trump</a></h5>
                                <span>1 week ago</span>
                                <a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
                            </div>
                            <p>
                                we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel
                                <i class="em em-smiley"></i>
                            </p>
                        </div>
                    </li>
                    <li>
                        <a href="#" title="" class="showmore underline">more comments</a>
                    </li>
                    <li class="post-comment">
                        <div class="comet-avatar">
                            <img src="images/resources/comet-1.jpg" alt="">
                        </div>
                        <div class="post-comt-box">
                            <form method="post">
                                <textarea placeholder="Post your comment"></textarea>
                                <div class="add-smiles">
                                    <span class="em em-expressionless" title="add icon"></span>
                                </div>
                                <div class="smiles-bunch">
                                    <i class="em em---1"></i>
                                    <i class="em em-smiley"></i>
                                    <i class="em em-anguished"></i>
                                    <i class="em em-laughing"></i>
                                    <i class="em em-angry"></i>
                                    <i class="em em-astonished"></i>
                                    <i class="em em-blush"></i>
                                    <i class="em em-disappointed"></i>
                                    <i class="em em-worried"></i>
                                    <i class="em em-kissing_heart"></i>
                                    <i class="em em-rage"></i>
                                    <i class="em em-stuck_out_tongue"></i>
                                </div>
                                <button type="submit"></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button class="btn-view btn-load-more">Load More</button>
</div><!-- centerl meta -->

<div class="col-lg-3">
    <aside class="sidebar static right">
        <div class="widget">
            <h4 class="widget-title">SUGGEST</h4>
            <ul class="followers">
                <li>
                    <figure><img src="images/resources/friend-avatar2.jpg" alt=""></figure>
                    <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Kelly Bill</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                    </div>
                </li>
                <li>
                    <figure><img src="images/resources/friend-avatar4.jpg" alt=""></figure>
                    <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Issabel</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                    </div>
                </li>
                <li>
                    <figure><img src="images/resources/friend-avatar6.jpg" alt=""></figure>
                    <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Andrew</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                    </div>
                </li>
                <li>
                    <figure><img src="images/resources/friend-avatar8.jpg" alt=""></figure>
                    <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Sophia</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                    </div>
                </li>
                <li>
                    <figure><img src="images/resources/friend-avatar3.jpg" alt=""></figure>
                    <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Allen</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                    </div>
                </li>
            </ul>
        </div><!-- suggest -->

        <div class="widget">
            <h4 class="widget-title">FRIENDS</h4>
            <div id="searchDir"></div>
            <ul id="people-list" class="friendz-list">
                <li>
                    <figure>
                        <img src="images/resources/friend-avatar.jpg" alt="">
                        <span class="status f-online"></span>
                    </figure>
                    <div class="friendz-meta">
                        <a href="time-line.html">bucky barnes</a>
                        <i><a href="http://www.wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="592e30372d3c2b2a36353d3c2b193e34383035773a3634">[email&#160;protected]</a></i>
                    </div>
                </li>
                <li>
                    <figure>
                        <img src="images/resources/friend-avatar2.jpg" alt="">
                        <span class="status f-away"></span>
                    </figure>
                    <div class="friendz-meta">
                        <a href="time-line.html">Sarah Loren</a>
                        <i><a href="http://www.wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2c4e4d5e42495f6c4b414d4540024f4341">[email&#160;protected]</a></i>
                    </div>
                </li>
                <li>
                    <figure>
                        <img src="images/resources/friend-avatar3.jpg" alt="">
                        <span class="status f-off"></span>
                    </figure>
                    <div class="friendz-meta">
                        <a href="time-line.html">jason borne</a>
                        <i><a href="http://www.wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7f151e0c10111d3f18121e1613511c1012">[email&#160;protected]</a></i>
                    </div>
                </li>
                <li>
                    <figure>
                        <img src="images/resources/friend-avatar4.jpg" alt="">
                        <span class="status f-off"></span>
                    </figure>
                    <div class="friendz-meta">
                        <a href="time-line.html">Cameron diaz</a>
                        <i><a href="http://www.wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b9d3d8cad6d7dbf9ded4d8d0d597dad6d4">[email&#160;protected]</a></i>
                    </div>
                </li>
                <li>

                    <figure>
                        <img src="images/resources/friend-avatar5.jpg" alt="">
                        <span class="status f-online"></span>
                    </figure>
                    <div class="friendz-meta">
                        <a href="time-line.html">daniel warber</a>
                        <i><a href="http://www.wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b9d3d8cad6d7dbf9ded4d8d0d597dad6d4">[email&#160;protected]</a></i>
                    </div>
                </li>
                <li>

                    <figure>
                        <img src="images/resources/friend-avatar6.jpg" alt="">
                        <span class="status f-away"></span>
                    </figure>
                    <div class="friendz-meta">
                        <a href="time-line.html">andrew</a>
                        <i><a href="http://www.wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3a505b495554587a5d575b535614595557">[email&#160;protected]</a></i>
                    </div>
                </li>
                <li>

                    <figure>
                        <img src="images/resources/friend-avatar7.jpg" alt="">
                        <span class="status f-off"></span>
                    </figure>
                    <div class="friendz-meta">
                        <a href="time-line.html">amy watson</a>
                        <i><a href="http://www.wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e882899b87868aa88f85898184c68b8785">[email&#160;protected]</a></i>
                    </div>
                </li>
                <li>

                    <figure>
                        <img src="images/resources/friend-avatar5.jpg" alt="">
                        <span class="status f-online"></span>
                    </figure>
                    <div class="friendz-meta">
                        <a href="time-line.html">daniel warber</a>
                        <i><a href="http://www.wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c4aea5b7abaaa684a3a9a5ada8eaa7aba9">[email&#160;protected]</a></i>
                    </div>
                </li>
                <li>

                    <figure>
                        <img src="images/resources/friend-avatar2.jpg" alt="">
                        <span class="status f-away"></span>
                    </figure>
                    <div class="friendz-meta">
                        <a href="time-line.html">Sarah Loren</a>
                        <i><a href="http://www.wpkixx.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="600201120e051320070d01090c4e030f0d">[email&#160;protected]</a></i>
                    </div>
                </li>
            </ul>
            <div class="chat-box">
                <div class="chat-head">
                    <span class="status f-online"></span>
                    <h6>Bucky Barnes</h6>
                    <div class="more">
                        <span><i class="ti-more-alt"></i></span>
                        <span class="close-mesage"><i class="ti-close"></i></span>
                    </div>
                </div>
                <div class="chat-list">
                    <ul>
                        <li class="me">
                            <div class="chat-thumb"><img src="images/resources/chatlist1.jpg" alt=""></div>
                            <div class="notification-event">
                                <span class="chat-message-item">
                                    Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                                </span>
                                <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>
                        <li class="you">
                            <div class="chat-thumb"><img src="images/resources/chatlist2.jpg" alt=""></div>
                            <div class="notification-event">
                                <span class="chat-message-item">
                                    Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                                </span>
                                <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>
                        <li class="me">
                            <div class="chat-thumb"><img src="images/resources/chatlist1.jpg" alt=""></div>
                            <div class="notification-event">
                                <span class="chat-message-item">
                                    Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                                </span>
                                <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>
                    </ul>
                    <form class="text-box">
                        <textarea placeholder="Post enter to post..."></textarea>
                        <div class="add-smiles">
                            <span title="add icon" class="em em-expressionless"></span>
                        </div>
                        <div class="smiles-bunch">
                            <i class="em em---1"></i>
                            <i class="em em-smiley"></i>
                            <i class="em em-anguished"></i>
                            <i class="em em-laughing"></i>
                            <i class="em em-angry"></i>
                            <i class="em em-astonished"></i>
                            <i class="em em-blush"></i>
                            <i class="em em-disappointed"></i>
                            <i class="em em-worried"></i>
                            <i class="em em-kissing_heart"></i>
                            <i class="em em-rage"></i>
                            <i class="em em-stuck_out_tongue"></i>
                        </div>
                        <button type="submit"></button>
                    </form>
                </div>
            </div>
        </div><!-- friends list sidebar -->
    </aside>
</div><!-- sidebar -->