.paging_active {
    color: #FFF !important;
    background: #088DCD;
}

    .paging_active:hover {
        color: #088DCD !important;
    }

.alert-error {
    background: red;
    color: white;
}

.my-friend-name {
    position: relative;
}

    .my-friend-name .btn-delete-review {
        position: absolute;
        color: red;
        right: 0px;
        top: 0px;
    }

.my-post-comment textarea{
    height:100px !important;
}
