<div class="responsive-header">
    <div class="mh-head first Sticky">
        <span class="mh-btns-left">
            <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
        <span class="mh-text">
            <a href="newsfeed.html" title=""><img src="images/logo2.png" alt=""></a>
        </span>
    </div>
    <div class="mh-head second">
        <form class="mh-form">
            <input placeholder="search" />
            <a href="#/" class="fa fa-search"></a>
        </form>
    </div>
    <nav id="menu" class="res-menu">
        <ul>
            <li><a href="about.html" title="">Home</a></li>
            <li><a href="about-company.html" title="">My Book</a></li>
            <li><a href="about-company.html" title="">My Friend</a></li>
        </ul>
    </nav>
</div><!-- responsive header -->

<div class="topbar stick">
    <div class="logo">
        <a title="" href="newsfeed.html"><img src="images/logo.png" alt=""></a>
    </div>
    <div class="top-area">
        <ul class="main-menu">
            <li><a href="#" title="">Home</a></li>
            <li><a href="#" title="">My Book</a></li>
            <li><a href="#" title="">My Friend</a></li>
        </ul>
        <div class="top-search">
            <form method="post" class="">
                <input type="text" placeholder="Search Friend">
                <button data-ripple><i class="ti-search"></i></button>
            </form>
        </div>
        <div class="user-img">
            <img src="images/resources/admin.jpg" alt="">
            <span class="status f-online"></span>
            <div class="user-setting">
                <a href="#" title=""><i class="ti-user"></i> view profile</a>
                <a href="#" title=""><i class="ti-power-off"></i>log out</a>
            </div>
        </div>
    </div>
</div><!-- topbar -->