<div class="x_content">
    <div class="bs-example" data-example-id="simple-jumbotron">
        <div class="jumbotron">
            <h1>Welcome, @User.Claims.Where(c => c.Type == "UserName").Select(c => c.Value).SingleOrDefault()!</h1>
            <p>This is book social network management software.</p>
        </div>
    </div>
</div>