@if (MessageAfterAction.Success != null)
{
    <div class="alert alert-success" role="alert">
        @MessageAfterAction.Success
    </div>
}
@if (MessageAfterAction.Fail != null)
{
    <div class="alert alert-error" role="alert">
        @MessageAfterAction.Fail
    </div>
}
@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        MessageAfterAction.Success = null;
        MessageAfterAction.Fail = null;
    }
}
