<div class="input-group my-input-group">
    <input type="text"
           class="form-control my-form-control"
           @bind="@currentValue"
           @oninput="@((e) => { currentValue=(string)e.Value;})"
           placeholder="Search ..." />
    <div class="input-group-append">
        <button @onclick="SearchAll" class="btn mr-0 btn-outline-secondary" type="button"><i class="fa fa-search"></i> Search</button>
    </div>
</div>

@code {
    static string currentValue { get; set; }

    void SearchAll()
    {
        var dictionaryQueryString = new Dictionary<string, object>()
        {
            {"page","1"},
            {"search",currentValue}
        };
        var newUri = navigationManager.GetUriWithQueryParameters(dictionaryQueryString);
        navigationManager.NavigateTo(newUri, true);
    }
}