@using Microsoft.AspNetCore.WebUtilities

<select @onchange="SortAll" class="custom-select" id="inputGroupSelect01">
    @foreach (KeyValuePair<string, string> entry in _listDropDown)
    {
        if (selectedString.Equals(entry.Key))
        {
            <option selected value=@entry.Key>@entry.Value</option>
        }
        else
        {
            <option value=@entry.Key>@entry.Value</option>
        }
    }

</select>

@code {
    private string selectedString { get; set; }

    [Parameter]
    public Dictionary<string, string> _listDropDown { get; set; }

    protected override void OnInitialized()
    {
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("sort", out var sortUrl))
        {
            selectedString = sortUrl;
        }
        else
        {
            selectedString = "Name";
        }
    }

    private void SortAll(ChangeEventArgs e)
    {
        var newUri = navigationManager.GetUriWithQueryParameter("sort", e.Value.ToString());
        navigationManager.NavigateTo(newUri, true);
    }
}