<select class="custom-select" id="inputGroupSelect01">
    <option selected>Sort By...</option>
    <option value="">Genre Name</option>
    <option value="2">Number Of Books</option>
</select>

@code{

}