@{
    var userName = User.Claims.Where(c => c.Type == "UserName").Select(c => c.Value).SingleOrDefault();
}

<div class="x_content">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Success"]
        </div>
    }
    @if (TempData["Fail"] != null)
    {
        <div class="alert alert-error" role="alert">
            @TempData["Fail"]
        </div>
    }
    <div class="bs-example" data-example-id="simple-jumbotron">
        <div class="jumbotron">
            <h1>Xin chào, @userName</h1>
            <p>Đây là hệ thống quản trị nội dung trang DanhGiaSach</p>
        </div>
    </div>
</div>