.my-scroll {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.your-page {
    padding: 10px 0px;
}

.row.merged20 > div {
    padding-top: 0px;
}

.my-l-post {
    margin-bottom: 0px;
    padding: 10px;
}
