.my-new-pst {
    display: inline-block;
    margin-bottom: 0px;
    border: none;
    padding: 20px
}

.my-l-post-update {
    padding: 0px;
}

.my-purify-update {
    margin-top: 0px;
}

.new-postbox > figure {
    width: 8%;
}

.newpst-input {
    width: 90%;
}

.post-comt-box form .my-btn-update {
    font-size: 20px;
    color: black;
    bottom: 10px;
}

.my-purify {
    width: 100%;
    text-align: left;
}

.my-l-post {
    padding: 20px;
}

    .my-l-post .my-figure {
        width: 200px;
        margin: 0 auto;
    }

        .my-l-post .my-figure img {
            width: auto;
        }

.my-l-post-meta {
    padding: 0px 20px;
    width: 100%;
}

@media screen and (max-width:768px) {
    .my-l-post-meta {
        padding: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 758px) {
    .newpst-input {
        width: 84%;
    }
}

@media screen and (max-width: 640px) {
    .my-purify .chosen-container {
        text-align: center;
    }

    .my-l-post .my-figure {
        text-align: center;
    }

    .my-btn {
        width: 100%;
    }

    .new-postbox > figure {
        width: 11.6%;
    }

    .newpst-input {
        width: 80%;
    }
}
